<form>
    <div class="sheet-body exaltedessence">
        {{#if data.showDamage}}
        {{> systems/exaltedessence-ironpath/templates/dialogues/damage-roll.html}}
        <div class="d-flex">
            <button type="button" id="roll-damage">Damage</button>
            <button type="button" id="cancel">Cancel</button>
        </div>
        {{else}}
        {{> systems/exaltedessence-ironpath/templates/dialogues/accuracy-roll.html}}
        <div class="d-flex">
            <button type="button" id="roll-accuracy">Accuracy</button>
            <button type="button" id="cancel">Cancel</button>
        </div>
        {{/if}}
    </div>
</form>